{% extends "base.html" %}
{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">

          <div class="register">
              <div class="row">

                <div class="span12">
{#                  <div class="lrform">#}

                           <p>Активация вашей учетной записи Выполнена</p>
                            <p>Спасибо за уделённое время. Теперь вы можете воспользоваться электронными сервисами предоставляемыми нашим сайтом.
                               Для получения информации об услугах воспользуйтесь <a href="/faq/">документацией.</a><br/><br/>
                            </p>

{#                </div>#}
              </div>
           </div>
         </div>
</div>

{% endblock %}