{% extends "base.html"  %}
{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">

          <div class="register">
              <div class="row">

                <div class="span12">
                  <div class="lrform">

                        <h6>Выход выполнен</h6>
                        <p>
                            Спасибо, что были с нами. Ждем вас снова.<br/><br/>
                        </p>


                </div>
              </div>
           </div>
         </div>
</div>



{% endblock %}