{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">

          <div class="register">
              <div class="row">

                <div class="span12">
                  <div class="lrform">


                            <p>{% trans "Ваш пароль был изменен. Вы можете выполнить вход в систему." %}</p>

                            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>


                </div>
              </div>
           </div>
         </div>
</div>

{% endblock %}