<!DOCTYPE html>
<!--<html lang="en">       -->
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Белоярская ЦБС</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="twinpix@yandex.ru">


  <!-- Stylesheets -->
  <link href="/static/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/font-awesome.css">
  <link rel="stylesheet" href="/static/style/whhg.css">
  <link href="/static/style/prettyPhoto.css" rel="stylesheet">
  <!-- Parallax slider -->
  <link rel="stylesheet" href="/static/style/slider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="/static/style/flexslider.css">

  <link href="/static/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
  <link href="/static/style/lblue.css" rel="stylesheet">

  <link href="/static/style/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="/"><i class="icon-bookalt"></i> Белоярская <span class="color">ЦБС</span></a>.</h1>
          <div class="hmeta">г. Белоярский. <i class="icon-phonealt"></i> +7(34670)2-53-51 / <i class="icon-envelope"></i> <a href="mailto:bellib@bellib.ru">bellib@bellib.ru</a></div>
        <!--
        </div>
        <!-- bellib taksenov 26-03-2013 Социальные кнопки-->
        <!--
        <div>
        -->
        </div>
      </div>
      <!-- bellib taksenov 26-03-2013 Временно убираем форму поиска, вместо нее нужно установить форму логина и регистрации-->
        <div class="span5">
            <!--
        <div class="form">
          <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
        -->
      </div>
      <!-- bellib 08-08-2013 знак возрастного ограничения 6+ на всех страницах сайта -->
      <div class="span1">
          <div class="logo">
              <div class="pic">
                  <img src="/static/img/AgeRate/Age6Plus-64x64.png" alt="" />
              </div>
          </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>Menu</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav">
                     <!--
                     <li><a href="index.html">Home #1</a></li>
                     <li><a href="index1.html">Home #2</a></li>
                     -->
                     <!-- Refer Bootstrap navbar doc -->
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-laptop"></i> Электронная библиотека <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/elcat/"> Каталог </a></li>
                        <li><a href="/qdlist/1989/"> Ресурсы </a></li>
                        <!--
                        <li><a href="#"> Виртуальная справка </a></li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="register1.html">Register</a></li>
                        <li><a href="login1.html">Login</a></li>
                          -->
                      </ul>
                   </li>
                   <!--
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages #2<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="features-4.html">Features</a></li>
                        <li><a href="statement.html">Statement</a></li>
                        <li><a href="tasks.html">Tasks</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="make-post.html">Make Post</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="error-log.html">Error Log</a></li>
                      </ul>
                   </li>
                   <li><a href="service.html">Service</a></li>
                   -->
                   <li><a href="/aboutus/"> О нас </a></li>
                   <!--
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-2.html">Blog #1</a></li>
                        <li><a href="blog-4.html">Blog #1</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                      </ul>
                    </li>

                   <li><a href="portfolio.html">Portfolio</a></li>
                   -->
                   <li><a href="/contactus/"> Контакты </a></li>
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">

    <h2>Profile</h2>
    <p class="big grey">Something Goes Here.</p>
    <hr />

    <div class="row">

      <div class="span4">

        <div class="well">
          <!-- Your details -->
          <div class="address">
            <address>
              <!-- Your name -->
              <strong>Ashok Ramesh</strong><br>
              <!-- Address -->
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>

              <!-- Phone number -->
              <abbr title="Phone">P:</abbr> (123) 456-7890.<br />
              <a href="mailto:#">first.last@gmail.com</a>
            </address>
          </div>
        </div>

      </div>

      <div class="span8">
          <h5>Edit Profile</h5>
          <hr />
                            <div class="form">
                                      <!-- Edit profile form (not working)-->
                                      <form class="form-horizontal"> {% csrf_token %}
                                          <!-- Name -->
                                          <div class="control-group">
                                            <label class="control-label" for="name1">Name</label>
                                            <div class="controls">
                                              {{ user.get_profile.number_chb }}
<!--                                              <input type="text" class="input-large" id="name1">  -->
                                            </div>
                                          </div>   
                                          <!-- Email -->
                                          <div class="control-group">
                                            <label class="control-label" for="email1">Email</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="email1">
                                            </div>
                                          </div>
                                          <!-- Telephone -->
                                          <div class="control-group">
                                            <label class="control-label" for="telephone">Telephone</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="telephone">
                                            </div>
                                          </div>  
                                          <!-- Address -->
                                          <div class="control-group">
                                            <label class="control-label" for="address">Address</label>
                                            <div class="controls">
                                              <textarea class="input-large" id="address"></textarea>
                                            </div>
                                          </div>                           
                                          <!-- Country -->
                                          <div class="control-group">
                                            <label class="control-label">Country</label>
                                            <div class="controls">                               
                                                <select>
                                                <option value=""> --- Please Select --- </option>
                                          <option value="1">Afghanistan</option>
                                                        <option value="2">Albania</option>
                                                        <option value="3">Algeria</option>
                                                        <option value="4">American Samoa</option>
                                                        <option value="5">Andorra</option>
                                                        <option value="6">Angola</option>
                                                        <option value="7">Anguilla</option>
                                                        <option value="8">Antarctica</option>
                                                        <option value="9">Antigua and Barbuda</option>
                                                        <option value="10">Argentina</option>
                                                        <option value="11">Armenia</option>
                                                        <option value="12">Aruba</option>
                                                        <option value="13">Australia</option>
                                                        <option value="14">Austria</option>
                                                        <option value="15">Azerbaijan</option>
                                                        <option value="16">Bahamas</option>
                                                        <option value="17">Bahrain</option>
                                                        <option value="18">Bangladesh</option>
                                                        <option value="19">Barbados</option>
                                                        <option value="20">Belarus</option>
                                                        <option value="21">Belgium</option>
                                                        <option value="22">Belize</option>
                                                        <option value="23">Benin</option>
                                                        <option value="24">Bermuda</option>
                                                        <option value="25">Bhutan</option>
                                                        <option value="26">Bolivia</option>
                                                        <option value="27">Bosnia and Herzegowina</option>
                                                        <option value="28">Botswana</option>
                                                        <option value="29">Bouvet Island</option>
                                                        <option value="30">Brazil</option>
                                                        <option value="31">British Indian Ocean Territory</option>
                                                        <option value="32">Brunei Darussalam</option>
                                                        <option value="33">Bulgaria</option>
                                                        <option value="34">Burkina Faso</option>
                                                        <option value="35">Burundi</option>
                                                        <option value="36">Cambodia</option>
                                                        <option value="37">Cameroon</option>
                                                        <option value="38">Canada</option>
                                                        <option value="39">Cape Verde</option>
                                                        <option value="40">Cayman Islands</option>
                                                        <option value="41">Central African Republic</option>
                                                        <option value="42">Chad</option>
                                                        <option value="43">Chile</option>
                                                        <option value="44">China</option>
                                                        <option value="45">Christmas Island</option>
                                                        <option value="46">Cocos (Keeling) Islands</option>
                                                        <option value="47">Colombia</option>
                                                        <option value="48">Comoros</option>
                                                        <option value="49">Congo</option>
                                                        <option value="50">Cook Islands</option>
                                                        <option value="51">Costa Rica</option>
                                                        <option value="52">Cote D'Ivoire</option>
                                                        <option value="53">Croatia</option>
                                                        <option value="54">Cuba</option>
                                                        <option value="55">Cyprus</option>
                                                        <option value="56">Czech Republic</option>
                                                        <option value="237">Democratic Republic of Congo</option>
                                                        <option value="57">Denmark</option>
                                                        <option value="58">Djibouti</option>
                                                        <option value="59">Dominica</option>
                                                        <option value="60">Dominican Republic</option>
                                                        <option value="61">East Timor</option>
                                                        <option value="62">Ecuador</option>
                                                        <option value="63">Egypt</option>
                                                        <option value="64">El Salvador</option>
                                                        <option value="65">Equatorial Guinea</option>
                                                        <option value="66">Eritrea</option>
                                                        <option value="67">Estonia</option>
                                                        <option value="68">Ethiopia</option>
                                                        <option value="69">Falkland Islands (Malvinas)</option>
                                                        <option value="70">Faroe Islands</option>
                                                        <option value="71">Fiji</option>
                                                        <option value="72">Finland</option>
                                                        <option value="73">France</option>
                                                        <option value="74">France, Metropolitan</option>
                                                        <option value="75">French Guiana</option>
                                                        <option value="76">French Polynesia</option>
                                                        <option value="77">French Southern Territories</option>
                                                        <option value="78">Gabon</option>
                                                        <option value="79">Gambia</option>
                                                        <option value="80">Georgia</option>
                                                        <option value="81">Germany</option>
                                                        <option value="82">Ghana</option>
                                                        <option value="83">Gibraltar</option>
                                                        <option value="84">Greece</option>
                                                        <option value="85">Greenland</option>
                                                        <option value="86">Grenada</option>
                                                        <option value="87">Guadeloupe</option>
                                                        <option value="88">Guam</option>
                                                        <option value="89">Guatemala</option>
                                                        <option value="90">Guinea</option>
                                                        <option value="91">Guinea-bissau</option>
                                                        <option value="92">Guyana</option>
                                                        <option value="93">Haiti</option>
                                                        <option value="94">Heard and Mc Donald Islands</option>
                                                        <option value="95">Honduras</option>
                                                        <option value="96">Hong Kong</option>
                                                        <option value="97">Hungary</option>
                                                        <option value="98">Iceland</option>
                                                        <option value="99">India</option>
                                                        <option value="100">Indonesia</option>
                                                        <option value="101">Iran (Islamic Republic of)</option>
                                                        <option value="102">Iraq</option>
                                                        <option value="103">Ireland</option>
                                                        <option value="104">Israel</option>
                                                        <option value="105">Italy</option>
                                                        <option value="106">Jamaica</option>
                                                        <option value="107">Japan</option>
                                                        <option value="108">Jordan</option>
                                                        <option value="109">Kazakhstan</option>
                                                        <option value="110">Kenya</option>
                                                        <option value="111">Kiribati</option>
                                                        <option value="113">Korea, Republic of</option>
                                                        <option value="114">Kuwait</option>
                                                        <option value="115">Kyrgyzstan</option>
                                                        <option value="116">Lao People's Democratic Republic</option>
                                                        <option value="117">Latvia</option>
                                                        <option value="118">Lebanon</option>
                                                        <option value="119">Lesotho</option>
                                                        <option value="120">Liberia</option>
                                                        <option value="121">Libyan Arab Jamahiriya</option>
                                                        <option value="122">Liechtenstein</option>
                                                        <option value="123">Lithuania</option>
                                                        <option value="124">Luxembourg</option>
                                                        <option value="125">Macau</option>
                                                        <option value="126">Macedonia</option>
                                                        <option value="127">Madagascar</option>
                                                        <option value="128">Malawi</option>
                                                        <option value="129">Malaysia</option>
                                                        <option value="130">Maldives</option>
                                                        <option value="131">Mali</option>
                                                        <option value="132">Malta</option>
                                                        <option value="133">Marshall Islands</option>
                                                        <option value="134">Martinique</option>
                                                        <option value="135">Mauritania</option>
                                                        <option value="136">Mauritius</option>
                                                        <option value="137">Mayotte</option>
                                                        <option value="138">Mexico</option>
                                                        <option value="139">Micronesia, Federated States of</option>
                                                        <option value="140">Moldova, Republic of</option>
                                                        <option value="141">Monaco</option>
                                                        <option value="142">Mongolia</option>
                                                        <option value="143">Montserrat</option>
                                                        <option value="144">Morocco</option>
                                                        <option value="145">Mozambique</option>
                                                        <option value="146">Myanmar</option>
                                                        <option value="147">Namibia</option>
                                                        <option value="148">Nauru</option>
                                                        <option value="149">Nepal</option>
                                                        <option value="150">Netherlands</option>
                                                        <option value="151">Netherlands Antilles</option>
                                                        <option value="152">New Caledonia</option>
                                                        <option value="153">New Zealand</option>
                                                        <option value="154">Nicaragua</option>
                                                        <option value="155">Niger</option>
                                                        <option value="156">Nigeria</option>
                                                        <option value="157">Niue</option>
                                                        <option value="158">Norfolk Island</option>
                                                        <option value="112">North Korea</option>
                                                        <option value="159">Northern Mariana Islands</option>
                                                        <option value="160">Norway</option>
                                                        <option value="161">Oman</option>
                                                        <option value="162">Pakistan</option>
                                                        <option value="163">Palau</option>
                                                        <option value="164">Panama</option>
                                                        <option value="165">Papua New Guinea</option>
                                                        <option value="166">Paraguay</option>
                                                        <option value="167">Peru</option>
                                                        <option value="168">Philippines</option>
                                                        <option value="169">Pitcairn</option>
                                                        <option value="170">Poland</option>
                                                        <option value="171">Portugal</option>
                                                        <option value="172">Puerto Rico</option>
                                                        <option value="173">Qatar</option>
                                                        <option value="174">Reunion</option>
                                                        <option value="175">Romania</option>
                                                        <option value="176">Russian Federation</option>
                                                        <option value="177">Rwanda</option>
                                                        <option value="178">Saint Kitts and Nevis</option>
                                                        <option value="179">Saint Lucia</option>
                                                        <option value="180">Saint Vincent and the Grenadines</option>
                                                        <option value="181">Samoa</option>
                                                        <option value="182">San Marino</option>
                                                        <option value="183">Sao Tome and Principe</option>
                                                        <option value="184">Saudi Arabia</option>
                                                        <option value="185">Senegal</option>
                                                        <option value="186">Seychelles</option>
                                                        <option value="187">Sierra Leone</option>
                                                        <option value="188">Singapore</option>
                                                        <option value="189">Slovak Republic</option>
                                                        <option value="190">Slovenia</option>
                                                        <option value="191">Solomon Islands</option>
                                                        <option value="192">Somalia</option>
                                                        <option value="193">South Africa</option>
                                                        <option value="194">South Georgia &amp; South Sandwich Islands</option>
                                                        <option value="195">Spain</option>
                                                        <option value="196">Sri Lanka</option>
                                                        <option value="197">St. Helena</option>
                                                        <option value="198">St. Pierre and Miquelon</option>
                                                        <option value="199">Sudan</option>
                                                        <option value="200">Suriname</option>
                                                        <option value="201">Svalbard and Jan Mayen Islands</option>
                                                        <option value="202">Swaziland</option>
                                                        <option value="203">Sweden</option>
                                                        <option value="204">Switzerland</option>
                                                        <option value="205">Syrian Arab Republic</option>
                                                        <option value="206">Taiwan</option>
                                                        <option value="207">Tajikistan</option>
                                                        <option value="208">Tanzania, United Republic of</option>
                                                        <option value="209">Thailand</option>
                                                        <option value="210">Togo</option>
                                                        <option value="211">Tokelau</option>
                                                        <option value="212">Tonga</option>
                                                        <option value="213">Trinidad and Tobago</option>
                                                        <option value="214">Tunisia</option>
                                                        <option value="215">Turkey</option>
                                                        <option value="216">Turkmenistan</option>
                                                        <option value="217">Turks and Caicos Islands</option>
                                                        <option value="218">Tuvalu</option>
                                                        <option value="219">Uganda</option>
                                                        <option value="220">Ukraine</option>
                                                        <option value="221">United Arab Emirates</option>
                                                        <option value="222">United Kingdom</option>
                                                        <option value="223" selected="selected">United States</option>
                                                        <option value="224">United States Minor Outlying Islands</option>
                                                        <option value="225">Uruguay</option>
                                                        <option value="226">Uzbekistan</option>
                                                        <option value="227">Vanuatu</option>
                                                        <option value="228">Vatican City State (Holy See)</option>
                                                        <option value="229">Venezuela</option>
                                                        <option value="230">Viet Nam</option>
                                                        <option value="231">Virgin Islands (British)</option>
                                                        <option value="232">Virgin Islands (U.S.)</option>
                                                        <option value="233">Wallis and Futuna Islands</option>
                                                        <option value="234">Western Sahara</option>
                                                        <option value="235">Yemen</option>
                                                        <option value="236">Yugoslavia</option>
                                                        <option value="238">Zambia</option>
                                                        <option value="239">Zimbabwe</option>
                                                </select>  
                                            </div>
                                          </div>  
                                          <!-- State -->
                                          <div class="control-group">
                                            <label class="control-label" for="city">State</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="state">
                                            </div>
                                          </div>                                               
                                          <!-- City -->
                                          <div class="control-group">
                                            <label class="control-label" for="city">City</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="city">
                                            </div>
                                          </div>                                                                                                                                         
                                          <!-- Username -->
                                          <div class="control-group">
                                            <label class="control-label" for="username2">Username</label>
                                            <div class="controls">
                                              <input type="text" class="input-large" id="username2">
                                            </div>
                                          </div>
                                          <!-- Password -->
                                          <div class="control-group">
                                            <label class="control-label" for="password2">Password</label>
                                            <div class="controls">
                                              <input type="password" class="input-large" id="password2">
                                            </div>
                                          </div>
                                          <!-- Checkbox -->
                                          <div class="control-group">
                                             <div class="controls">
                                                <label class="checkbox inline">
                                                   <input type="checkbox" id="inlineCheckbox3" value="agree"> Agree with Terms and Conditions
                                                </label>
                                             </div>
                                          </div> 
                                          
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" class="btn">Update</button>
                                            <button type="reset" class="btn">Reset</button>
                                          </div>
                                      </form>
                                    </div>
      </div>

    </div>

 


  <div class="border"></div>

<!-- Product & links starts -->

<div class="prod">
    <div class="row">
      <div class="span4">
        <div class="home-links">
          <div class="col-l">
            <h5>Downloads</h5>
            <ul>
              <li><a href="#">Linux 8</a></li>
              <li><a href="#">PlayStation</a></li>
              <li><a href="#">GTalk</a></li>
              <li><a href="#">Google Search</a></li>
              <li><a href="#">Linux Phone</a></li>
            </ul>
          </div>
          <div class="col-r">
            <h5>Support</h5>
            <ul>
              <li><a href="#">Linux Update</a></li>
              <li><a href="#">PlayStation</a></li>
              <li><a href="#">GTalk</a></li>
              <li><a href="#">Google Search</a></li>
              <li><a href="#">Linux Phone</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="span8"> 
        <div class="home-product">
          <div class="home-prod-img" id="s1">
              <img src="static/img/photos/s1.jpg" />
              <img src="static/img/photos/s2.jpg" />
              <img src="static/img/photos/s3.jpg" />
          </div>
          <h3>Canonical Linux 8</h3>
          <p>Aliquam ut feugiat ante. Curabitur justo aliquam. Maecenas turpis urna, eleifend et venenatis eget, ultricies quis urna. Aliquam ut feugiat ante. Curabitur justo aliquam. Aliquam ut feugiat ante. Curabitur justo aliquam. </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Product & links ends --> 

  </div>
</div>

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Мы в социальных сетях</span> <a href="http://www.facebook.com/bellibru"><i class="icon-facebook"></i>Facebook</a> <a href="https://twitter.com/bellibru1"><i class="icon-twitter"></i>Twitter</a> <a href="http://vk.com/bellib"><i class="icon-vk"></i>ВКонтакте</a></p>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="span12">
          <div class="copy">
            <h6>Белоярская <span class="color">ЦБС</span>.</h6>
            <p>Copyright &copy; {% load siteyear_tag %} {% siteyear_tag %} <a href="/">Главная</a> | <a href="/aboutus/">О нас</a> | <a href="/faq/">Помощь по сайту</a> | <a href="/contactus/">Контакты</a> | <a href="/reports/">Документы</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>

<!-- JS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src="/static/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="/static/js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src="/static/js/modernizr.custom.28468.js"></script>
<script src="/static/js/filter.js"></script> <!-- Filter for support page -->
<script src="/static/js/cycle.js"></script> <!-- Cycle slider -->
<script src="/static/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<script src="/static/js/jquery.tweet.js"></script> <!-- jQuery Twitter -->
<script src="/static/js/easing.js"></script> <!-- Easing -->
<script src="/static/js/custom.js"></script>

<!-- Yandex.Metrika counter
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21507409 = new Ya.Metrika({id:21507409,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21507409" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 /Yandex.Metrika counter -->

</body>
</html>