{% extends "base.html"  %}
{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container">

          <div class="register">
              <div class="row">

                <div class="span12">
                  <div class="lrform">

                           <p>Регистрация завершена</p>
                            <p>Спасибо за уделённое время. На ваш e-mail отправлен
                            код подтверждения. Необходимо подтвердить регистрацию,
                            просто кликнув по указанной ссылке.<br/><br/>
                            </p>

                </div>
              </div>
           </div>
         </div>
</div>

{% endblock %}