{% extends "admin/admbase.html"  %}
{% block content %}

<div class="content">
  <div class="container">

<!-- ========================================================================= -->

        <h6 style="text-align: center;"><strong>БЕЛОЯРСКИЙ РАЙОН</strong><br /><strong>ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА</strong><br /><strong>МУНИЦИПАЛЬНОЕ АВТОНОМНОЕ УЧРЕЖДЕНИЕ КУЛЬТУРЫ</strong><br /><strong>БЕЛОЯРСКОГО РАЙОНА</strong><br /><strong>&laquo;БЕЛОЯРСКАЯ ЦЕНТРАЛИЗОВАННАЯ БИБЛИОТЕЧНАЯ СИСТЕМА&raquo;</strong></h6>
        <p style="text-align: left;">&nbsp;</p>
        <h6 style="text-align: center;">Отчет о работе по переводу традиционного справочно-информационного аппарата в электронный вид<strong><br /></strong></h6>
        <p>За период с 1 июня 2012 г. по
                                         {% now "DATE_FORMAT" %}
                                      внесено:
                                         {{ books_in_table }}
                                      записей, что составляет
                                         {{ book_percent }}%
                                      от общего фонда (равного
                                         {{ books_total }}
                                      ).<br /><br /></p>
            <table class="table table-striped table-bordered table-hover">
<!--            <table style="height: 233px; width: 641px;" width="641">       -->
                <thead>
                  <tr>
                    <th><strong>N п/п</strong></th>
                    <th><strong>Название библиотеки</strong></th>
                    <th><strong>Количество записей в БД</strong></th>
                    <th><strong>Процент от фонда библиотеки</strong></th>
                  </tr>
                </thead>

                <tbody>

                    {% for row in books_in_libraryes_count %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.0 }} </td>
                            <td>{{ row.1 }} </td>
                            <td>{{ row.3 }}% </td>

                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        <p>&nbsp;</p>
        <p>Отчет составлен: <u>{{ user.last_name }} {{ user.first_name }}</u> / _______________________________ /</p>
        <p>Дата составления отчета: {% now "DATE_FORMAT" %} </p>

<!-- ========================================================================= -->

      </div>

    </div>


{% endblock %}