/*стилизация размера иконок на странице результатов поиска в электронном каталоге*/
.iconElcatType {
    font-size: 24px;
}
.iconElcatRouble {
    font-size: 10px;
}
/* ------------------------------------------------ */


/* для приложения blankform (анкетирование, оценка качества услуг) */
.controls__blankform {
    margin-left: 0 !important;
}
/* ------------------------------------------------ */