/*стилизация размера иконок на странице результатов поиска в электронном каталоге*/
/*.icon-bookthree {
    font-size: 24px;
}*/
.iconElcatType {
    font-size: 24px;
}
.icon-rouble {
    font-size: 10px;
}