<!DOCTYPE html>
<!--<html lang="en">       -->
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Белоярская ЦБС</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="twinpix@yandex.ru">


  <!-- Stylesheets -->
  <link href="/static/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/font-awesome.css">
  <link rel="stylesheet" href="/static/style/whhg.css">      {# http://www.webhostinghub.com/glyphs/ #}
  <link href="/static/style/prettyPhoto.css" rel="stylesheet">
  <!-- Custom StyleSheet -->
  <link href="/static/style/main.css" rel="stylesheet">

  <!-- Parallax slider -->
  <link rel="stylesheet" href="/static/style/slider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="/static/style/flexslider.css">

  <link href="/static/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
  <link href="/static/style/lblue.css" rel="stylesheet">

  <link href="/static/style/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="/"><i class="icon-bookalt"></i> Белоярская <span class="color">ЦБС</span></a></h1>
          <div class="hmeta">г. Белоярский / <i class="icon-phonealt"></i> +7(34670)2-53-51 / <i class="icon-envelope"></i> <a href="mailto:bellib@bellib.ru">bellib@bellib.ru</a></div>
        <!--
        </div>
        <!-- bellib taksenov 26-03-2013 Социальные кнопки-->
        <!--
        <div>
        -->
        </div>
      </div>
      <!-- bellib taksenov 26-03-2013 Временно убираем форму поиска, вместо нее нужно установить форму логина и регистрации-->
        <div class="span5">
            <!--
        <div class="form">
          <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
        -->
        <div class="form">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Панель администрирования</a>
                <br>
            {% endif %}

                {% if not user.is_authenticated %}
                    <a href="/accounts/login/">Вход</a>
                    |
                    <a href="/accounts/register/">Регистрация</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <i class="icon-user"></i> <a href="/profiles/edit/">{{ user }}</a>
                    |
                    <a href="/accounts/logout/">Выход</a>
                {% endif %}

        </div>

      </div>
      <!-- bellib 08-08-2013 знак возрастного ограничения 6+ на всех страницах сайта -->
      <div class="span1">
          <div class="logo">
              <div class="pic">
                  <img src="/static/img/AgeRate/Age6Plus-64x64.png" alt="" />
              </div>
          </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>Menu</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav">
                     <!--
                     <li><a href="index.html">Home #1</a></li>
                     <li><a href="index1.html">Home #2</a></li>
                     -->
                     <!-- Refer Bootstrap navbar doc -->
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-laptop"></i> Электронная библиотека <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/elcat/"> Каталог </a></li>
                        <li><a href="/qdlist/"> Ресурсы </a></li>
                        <!--
                        <li><a href="#"> Виртуальная справка </a></li>
                        <li><a href="support.html">Support</a></li>
                        <li><a href="sitemap.html">Sitemap</a></li>
                        <li><a href="timeline.html">Timeline</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="register1.html">Register</a></li>
                        <li><a href="login1.html">Login</a></li>
                          -->
                      </ul>
                   </li>
                   <!--
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages #2<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="features-4.html">Features</a></li>
                        <li><a href="statement.html">Statement</a></li>
                        <li><a href="tasks.html">Tasks</a></li>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="make-post.html">Make Post</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="error-log.html">Error Log</a></li>
                      </ul>
                   </li>
                   <li><a href="service.html">Service</a></li>
                   -->
                   <li><a href="/aboutus/"> О нас </a></li>
                   <!--
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-2.html">Blog #1</a></li>
                        <li><a href="blog-4.html">Blog #1</a></li>
                        <li><a href="blog-single.html">Blog Single</a></li>
                      </ul>
                    </li>

                   <li><a href="portfolio.html">Portfolio</a></li>
                   -->
                   <li><a href="/contactus/"> Контакты </a></li>
 {% comment %}                  <li><a href="/prolong/"> Продлить книгу </a></li>{% endcomment %}
                   <li><a href="/blankform/"> Опрос </a></li>
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

{% block content %}{% endblock %}

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Мы в социальных сетях</span> <a href="http://www.facebook.com/bellibru"><i class="icon-facebook"></i>Facebook</a> <a href="https://twitter.com/bellibru1"><i class="icon-twitter"></i>Twitter</a> <a href="http://vk.com/bellib"><i class="icon-vk"></i>ВКонтакте</a></p>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="span12">
          <div class="copy">
            <h6>Белоярская <span class="color">ЦБС</span></h6>
            <p>Copyright &copy; {% load siteyear_tag %} {% siteyear_tag %} <a href="/">Главная</a> | <a href="/aboutus/">О нас</a> | <a href="/faq/">Помощь по сайту</a> | <a href="/contactus/">Контакты</a> | <a href="/reports/">Документы</a> | <a href="/sitemap/">Ссылки</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>

<!-- JS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.isotope.js"></script> <!-- Isotope for gallery -->
<script src="/static/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto for images -->
<script src="/static/js/jquery.cslider.js"></script> <!-- Parallax slider -->
<script src="/static/js/modernizr.custom.28468.js"></script>
<script src="/static/js/filter.js"></script> <!-- Filter for support page -->
<script src="/static/js/cycle.js"></script> <!-- Cycle slider -->
<script src="/static/js/jquery.flexslider-min.js"></script> <!-- Flex slider -->
<script src="/static/js/jquery.tweet.js"></script> <!-- jQuery Twitter -->
<script src="/static/js/easing.js"></script> <!-- Easing -->
<script src="/static/js/custom.js"></script>
<script src="/static/js/jquery.tinylimiter.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21507409 = new Ya.Metrika({id:21507409,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21507409" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'c7WsMLNxmj';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE --> 

</body>
</html>