{% extends "base.html"  %}
{% block content %}

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">

    <h2>Спасибо</h2>
    <p class="big grey">
        Ваши ответы были учтены.
        Посмотреть на результаты опроса можно на ресурсе:
        <a href="http://ip34.ru">Оценки качества обслуживания в
                                 муниципальных учреждениях культуры Белоярского района</a>
    </p>


    <hr />

    <div class="row">

      <div class="span12">










            <div class="clearfix"></div>
      </div>
    </div>

<!-- Product & links ends -->
  </div>
</div>

{% endblock %}