{% extends "base.html"  %}
{% block content %}

<div class="content">
  <div class="container">

  <h2>&mdash; Простите, а как пройти в библиотеку?</h2>
  <p class="big grey">&mdash; Все очень просто, следуйте по карте.</p>
  <hr />
            
  <div class="contact">
                        <div class="row">
                           <div class="span12">

                               <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
                               <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=GS5TWie4-YgGTnlG8Vckg5V4DksHbCyj&width=750&height=480"></script>
                               <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->

                              <!-- Google maps --
                              <div class="gmap">
                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code --
                                 <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe>
                              </div>
                              -->
                              
                           </div>
                        </div>

      <hr />

                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Напишите нам</h5>
                                    <div class="form">
                                      <!-- Contact form (not working)-->
                                      <form class="form-horizontal">
                                          <!-- Name -->
                                          <div class="control-group">
                                            <label class="control-label" for="name">Имя</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="name">
                                            </div>
                                          </div>
                                          <!-- Email -->
                                          <div class="control-group">
                                            <label class="control-label" for="email">Email</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="email">
                                            </div>
                                          </div>
                                          <!-- Website -->
                                          <div class="control-group">
                                            <label class="control-label" for="website">Website</label>
                                            <div class="controls">
                                              <input type="text" class="input-medium" id="website">
                                            </div>
                                          </div>
                                          <!-- Comment -->
                                          <div class="control-group">
                                            <label class="control-label" for="comment">Текст сообщения</label>
                                            <div class="controls">
                                              <textarea class="input-madium" id="comment" rows="3"></textarea>
                                            </div>
                                          </div>
                                          <!-- Buttons -->
                                          <div class="form-actions">
                                             <!-- Buttons -->
                                            <button type="submit" class="btn">Отправить</button>
                                            <button type="reset" class="btn">Я передумал</button>
                                          </div>
                                      </form>
                                    </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Адрес</h5>
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <h6>Белоярская централизованная библиотечная система.</h6>
                                              <!-- Address -->
                                              628162, Россиия, ХМАО-Югра,<br>
                                               ул. Центральная, д. 10<br>
                                              <!-- Phone number -->
                                              <abbr title="Phone">т:</abbr> +7(34670) 2-53-51.
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <h6>Директор: Воробьева Наталья Николаевна</h6>
                                              <!-- Email -->
                                              <a href="mailto:bellib@127.0.0.1:8000">bellib@127.0.0.1:8000</a>
                                           </address>
                                           
                                       </div>
                                 </div>

                               <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Справочник адресов и телефонов.</h5>
                                       <div class="address">

                                           <address>
                                              <h6>
                                                  <a href="http://62509.selcdn.ru/TelephoneDirectory/BellibTelephoneDirectory.pdf">Скачать.</a>
                                              </h6>
                                           </address>

                                       </div>
                                 </div>


                           </div>
                        </div>
                        
                     </div> 

<!--  <div class="border"></div> -->

<!-- Product & links starts -->



<!-- Product & links ends --> 

  </div>
</div>


{% endblock %}