{% extends "base.html"  %}
{% block content %}

<div class="content">
  <div class="container">

    <h2>Электронный каталог</h2>
    <p class="big grey">На странице электронного каталога вы можете найти и заказать интересующую вас книгу. </p>

<!-- 
    <div class="row">

      <div class="span12"> 
-->
<!-- ================================================================================== -->    


                    <ul id="myTab" class="nav nav-tabs">
                      <li class="active"><a href="#search" data-toggle="tab">Поиск</a></li>

                      <!-- taksenov 22-01-2014 алфавитный каталог пока не внедрен
                      <li><a href="#alphabeat" data-toggle="tab">Алфавитный каталог</a></li>
                      -->

                      <li><a href="#help" data-toggle="tab">Как пользоваться каталогом?</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade in active" id="search">
                        {% comment %}<p>{% endcomment %}
                          <div class="input-append">
                            <form action="/elcatsearch/" method="get">
                              <input class="input-tslarge" name="q" size="16" type="text" placeholder="">
                              <button type="submit" class="btn btn-primary btn-lg">Найти</button>
                            </form>
                          </div>
                        {% comment %}</p>{% endcomment %}

                        <p class="SearchNoResults">
                           Поиск не дал результатов. Пожалуйста, попробуйте поменять условия вашего запроса.
                        </p>

                      </div>

                      <!-- taksenov 22-01-2014 алфавитный каталог пока не внедрен
                      <div class="tab-pane fade" id="alphabeat">
                        
                        <p>
                          <button class="btn ts-btn-primary" type="button">А</button>
                          <button class="btn ts-btn-primary" type="button">Б</button>                          
                          <button class="btn ts-btn-primary" type="button">В</button>
                          <button class="btn ts-btn-primary" type="button">Г</button>   
                          <button class="btn ts-btn-primary" type="button">Д</button>
                          <button class="btn ts-btn-primary" type="button">Е</button> 
                          <button class="btn ts-btn-primary" type="button">Ё</button>
                          <button class="btn ts-btn-primary" type="button">Ж</button>                          
                          <button class="btn ts-btn-primary" type="button">З</button>
                          <button class="btn ts-btn-primary" type="button">И</button>   
                          <button class="btn ts-btn-primary" type="button">Й</button>
                          <button class="btn ts-btn-primary" type="button">К</button>  

                          <button class="btn ts-btn-primary1" type="button">Л</button>
                        <br>
                          <button class="btn ts-btn-primary" type="button">М</button>
                          <button class="btn ts-btn-primary" type="button">Н</button>                          
                          <button class="btn ts-btn-primary" type="button">О</button>
                          <button class="btn ts-btn-primary" type="button">П</button>   
                          <button class="btn ts-btn-primary" type="button">Р</button>
                          <button class="btn ts-btn-primary" type="button">С</button>  
                          <button class="btn ts-btn-primary" type="button">Т</button>
                          <button class="btn ts-btn-primary" type="button">У</button>                          
                          <button class="btn ts-btn-primary" type="button">Ф</button>
                          <button class="btn ts-btn-primary" type="button">Х</button>   
                          <button class="btn ts-btn-primary" type="button">Ц</button>
                          <button class="btn ts-btn-primary" type="button">Ч</button>  

                          <button class="btn ts-btn-primary1" type="button">Ш</button>
                        <br>
                          <button class="btn ts-btn-primary" type="button">Щ</button>
                          <button class="btn ts-btn-primary" type="button">Э</button>                          
                          <button class="btn ts-btn-primary" type="button">Ю</button>

                          <button class="btn ts-btn-primary1" type="button">Я</button>
                        </p>
                        <p>
                          <button class="btn ts-btn-primary" type="button">A</button>
                          <button class="btn ts-btn-primary" type="button">B</button>                          
                          <button class="btn ts-btn-primary" type="button">C</button>
                          <button class="btn ts-btn-primary" type="button">D</button>   
                          <button class="btn ts-btn-primary" type="button">E</button>
                          <button class="btn ts-btn-primary" type="button">F</button> 
                          <button class="btn ts-btn-primary" type="button">G</button>
                          <button class="btn ts-btn-primary" type="button">H</button>                          
                          <button class="btn ts-btn-primary" type="button">I</button>
                          <button class="btn ts-btn-primary" type="button">J</button>   
                          <button class="btn ts-btn-primary" type="button">K</button>
                          <button class="btn ts-btn-primary" type="button">L</button>  

                          <button class="btn ts-btn-primary1" type="button">M</button>
                        <br>
                          <button class="btn ts-btn-primary" type="button">N</button>
                          <button class="btn ts-btn-primary" type="button">O</button>                          
                          <button class="btn ts-btn-primary" type="button">P</button>
                          <button class="btn ts-btn-primary" type="button">Q</button>   
                          <button class="btn ts-btn-primary" type="button">R</button>
                          <button class="btn ts-btn-primary" type="button">S</button>  
                          <button class="btn ts-btn-primary" type="button">T</button>
                          <button class="btn ts-btn-primary" type="button">U</button>                          
                          <button class="btn ts-btn-primary" type="button">V</button>
                          <button class="btn ts-btn-primary" type="button">W</button>   
                          <button class="btn ts-btn-primary" type="button">X</button>
                          <button class="btn ts-btn-primary" type="button">Y</button>  

                          <button class="btn ts-btn-primary1" type="button">Z</button>
                        </p>
                        <p>
                          <button class="btn ts-btn-primary" type="button">1</button>
                          <button class="btn ts-btn-primary" type="button">2</button>                          
                          <button class="btn ts-btn-primary" type="button">3</button>
                          <button class="btn ts-btn-primary" type="button">4</button>   
                          <button class="btn ts-btn-primary" type="button">5</button>
                          <button class="btn ts-btn-primary" type="button">6</button>  
                          <button class="btn ts-btn-primary" type="button">7</button>
                          <button class="btn ts-btn-primary" type="button">8</button>                          
                          <button class="btn ts-btn-primary" type="button">9</button>

                          <button class="btn ts-btn-primary1" type="button">0</button>
                        </p>
                      </div>
                      -->
                      
                      <div class="tab-pane fade" id="help">
                        <p>
                           Инструкцию по использованию электронного каталога вы можете скачать <a href="http://62509.selcdn.ru/links/ElcatInstruction.pdf">здесь</a>. 
                        </p>
                      </div>
                    </div>
                    <hr />   
<!-- ====================================================================================== -->    


<!--
      </div>

    </div>

  -->

 




<!-- Product & links ends --> 

  </div>
</div>

{% endblock %}