{% extends "base.html"  %}
{% block content %}

<!-- Slider starts -->
  
    <div class="full-slider">
        <!-- Slider (Flex Slider) -->
          
          <div class="container">
            <div class="row">
              <div class="span12">
                <div class="flexslider">
                  <ul class="slides">

                    <li>
                      <div class="flex-caption flex-center">
                        <h2>Электронный каталог.</h2>

                        <p> На странице электронного каталога можно найти интересующую вас книгу и заказать ее. Воспользуйтесь пунктом сайта Электронная библиотека\Каталог. </p>

                          <!-- Button -->
                          <div class="button">
                            <a href="/elcat/">Сайт каталога.</a>
                          </div>

                      </div>
                    </li>

                    <li>

                      <!-- Slider content -->
                      <div class="flex-caption">
                        <!-- Left column -->
                        <div class="col-l">
                          <h2>Библиотека в соцсетях.</h2>
                          <h6>Для того чтобы узнать последние новости о библиотеке, посетите наши страницы в социальных сетях. Ссылки на наш профиль в соцсетях можно найти внизу страницы.</h6>



                        </div>
                        <!-- Right column -->
                        <div class="col-r">

                          <!-- Use the class "flex-back" to add background inside flex slider -->
                          
                            <h2>Контакты и график работы</h2>
                            <p>Узнать контактную информацию, адрес и график работы нужной вам библиотеки вы можете на страницах "О нас" и "Контакты".</p>
                         

                        </div>
                      </div>

                    </li>

                    <li>
                      <div class="flex-caption flex-center">
                        <h2>Оцифрованные документы библиотеки.</h2>

                        <p> На странице с оцифрованными документами можно скачать интересующий вас документ. Воспользуйтесь пунктом сайта Электронная библиотека\Ресурсы. </p>

                          <!-- Button -->
                          <div class="button">
                            <a href="/qdlist/1989/">Ресурсы.</a>
                          </div>

                      </div>
                    </li>


                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>

<!-- Slider Ends -->

<div class="content">
  <div class="container">


    <!-- Hero Unit -->

    <div class="row center">
      <div class="span12">

        <div class="bor"></div>

        <h2>Добро пожаловать на наш сайт.</h2>
        <p>Надеемся то время, которое вы потратите на нашем сайте не пройдет для вас даром и вы сможете найти для себя много нового и интересного. С наилучшими пожеланиями коллектив Белоярской библиотечной централизованной системы.</p>
        <div class="bor"></div>
        <hr />
      </div>  
    </div>

    <!-- Hero Ends -->      




<!-- Color blocks starts -->

  <div class="color-blocks">
    <div class="row">

      <div class="span4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-red">
            <!-- Link -->
            <a href="/contactus/">
              <!-- Icon -->
              <i class="icon-globealt"></i>
              <!-- Text -->
              Контакты
            </a>
          </div>

          <div class="col-r b-purple">
            <a href="/aboutus/">
              <i class="icon-user"></i>
              О нас
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>
      
      <div class="span4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-green">
            <!-- Link -->
            <a href="/faq/">
              <!-- Icon -->
              <i class="icon-question-sign"></i>
              <!-- Text -->
              Помощь по сайту
            </a>
          </div>

          <div class="col-r b-blue">
            <a href="http://www.facebook.com/bellibru">
              <i class="icon-facebook"></i>
              Facebook
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>
      
      <div class="span4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-lblue">
            <!-- Link -->
            <a href="https://twitter.com/bellibru1">
              <!-- Icon -->
              <i class="icon-twitter"></i>
              <!-- Text -->
              Twitter
            </a>
          </div>

          <div class="col-r b-orange">
            <a href="http://vk.com/bellib">
              <i class="icon-vk"></i>
              VK.COM
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>

    </div>
  </div>


<!-- Color blocks ends -->


  </div>
</div>

{% endblock %}