{% extends "base.html"  %}
{% block content %}

<div class="content">
  <div class="container">

  <h2>Документы организации</h2>
  <p class="big grey">Отчетность и регламентирующие документы</p>
  <hr />

              <!-- FAQ -->
              <div class="accordion" id="accordion2">
                 <!-- Each item should be enclosed inside the class "accordion-group". Note down the below markup. -->
                 <!-- First Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_1" href="#collapse_1">
                       <!-- Title with experience details. -->
                      <h5>Устав учреждения</h5>
                    </a>
                  </div>
                  <div id="collapse_1" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <!-- Details about job -->
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/o6VwauivbrRBP
                          ">
                              Устав муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система"
                          </a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- First Accordion -->
                 <!-- First Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_2" href="#collapse_2">
                       <!-- Title with experience details. -->
                      <h5> Платные услуги </h5>
                    </a>
                  </div>
                  <div id="collapse_2" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <!-- Details about job -->
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/woAfqE5vbrRSv
                          ">
                            Прейскурант цен на платные услуги, оказываемые муниципальным автономным учреждением культуры Белоярского района
                            "Белоярская централизованная библиотечная система" с 1 апреля 2014 г.
                          </a>
                      </p>

                    </div>
                  </div>
                </div>
                <!-- First Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_3" href="#collapse_3">
                       <!-- Title with experience details. -->
                      <h5>Отчеты</h5>
                    </a>
                  </div>
                  <div id="collapse_3" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <!-- Details about job -->
                      <p><i class="icon-layers"></i> <a href="http://yadi.sk/d/R4EqFPbK57k8u">Отчет о деятельности автономного учреждения за 2012 год.</a> </p>
                      <p><i class="icon-layers"></i> <a href="http://yadi.sk/d/LFsgPT92M9sSV">Отчет о деятельности автономного учреждения за 2013 год.</a> </p>
                      <p><i class="icon-layers"></i> <a href="https://yadi.sk/i/Ul3qlHjWbrRVu">Отчет о выполнении муниципального задания муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система" 1 квартал 2014 г.</a> </p>
                      <p><i class="icon-layers"></i> <a href="https://yadi.sk/i/ol6Lk4ahbrRa4">Отчет о выполнении муниципального задания муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система" 2 квартал 2014 г.</a> </p>
                      <p><i class="icon-layers"></i> <a href="https://yadi.sk/i/NEWj8iUrbrRb3">Отчет о выполнении муниципального задания муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система" 3 квартал 2014 г.</a> </p>
                      <p><i class="icon-layers"></i> <a href="https://yadi.sk/i/nXIOIJUrc3HZR">
                          ОТЧЕТ
                            о деятельности муниципальных библиотек
                            Белоярского района за 2013 год
                      </a> </p>

                    </div>
                  </div>
                </div>
                <!-- Second Accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_4" href="#collapse_4">
                      <h5> Регламентирующие документы </h5>
                    </a>
                  </div>
                  <div id="collapse_4" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/e9NqxXhfbrQih">Административный регламент предоставления муниципальной услуги «Предоставление доступа к оцифрованным изданиям, хранящимся в библиотеках,  в том числе к фонду редких книг, с учетом соблюдения требований законодательства Российской Федерации об авторских и смежных правах»</a>
                      </p>
                      <br>
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/bGkZ8-QZbrQbd">Административный регламент предоставления муниципальной услуги «Предоставление доступа к справочно – поисковому аппарату библиотек, базам данных»</a>
                      </p>
                      <br>
                      <p><i class="icon-layers"></i> <a href="http://yadi.sk/d/gVFaYIO6BPH9R">Стандарт качества муниципальной услуги «Предоставление библиотечных услуг»</a> </p>

                    </div>
                  </div>
                </div>
                <!-- Thrid accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_8" href="#collapse_8">
                      <h5> Планы </h5>
                    </a>
                  </div>
                  <div id="collapse_8" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/V9BLaTD2c3HtN">
                            ПЛАН   РАБОТЫ
                            МАУК  Белоярского района
                            «Белоярская ЦБС»
                            на 2014 год

                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/W_JL-XVzc3Hv4">
                            ПЛАН  работы с детьми на 2014 год
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Fourth accordion -->
                <!-- Thrid accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_5" href="#collapse_5">
                      <h5> Муниципальное задание </h5>
                    </a>
                  </div>
                  <div id="collapse_5" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/YAkTSq08brQmr">
                            Муниципальное задание. Муниципальному автономному учреждению культуры Белоярского района
                            "Белоярская централизованная библиотечная система" на 2014 год
                            и плановый период 2015 - 2016 годов
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Fourth accordion -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_6" href="#collapse_6">
                      <h5> Положения </h5>
                    </a>
                  </div>
                  <div id="collapse_6" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/pbthTJs9brQsN
                          ">
                            Положение о внебюджетной деятельности муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система"
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/FaRpPPHwbrQxm
                          ">
                            Положение об обязательном экземпляре документов
                            муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система"
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/XfRCIh_pbrR4Y
                          ">
                            Положение о платных услугах, оказываемых населению Белоярского района
                            библиотеками муниципального автономного учреждения культуры Белоярского района
                            "Белоярская централизованная библиотечная система"
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="https://yadi.sk/i/yODnYTnbbrRdV">
                            Положение о порядке возмещения ущерба библиотеке в случае утери либо присвоения (невозврата в библиотеку) фондовых документов
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Fourth accordion -->
                 <!-- Accordion Start -->
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_7" href="#collapse_7">
                       <!-- Title with experience details. -->
                      <h5>Документы по центрам общественного доступа (ЦОД) </h5>
                    </a>
                  </div>
                  <div id="collapse_7" class="accordion-body collapse">
                    <div class="accordion-inner">
                       <!-- Details about job -->
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/Cj9t7BdBbrRxz
                          ">
                              Перечень информационных ресурсов--Ванзеват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/0MasAMdZbrS2c
                          ">
                                Перечень информационных ресурсов--Верхнеказымский
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/S8U8469vbrS3V
                          ">
                             Перечень информационных ресурсов--ДБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/XrWc38hsbrS5B
                          ">
                              Перечень информационных ресурсов--Казым
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/rgBsogmRbrS6P
                          ">
                            Перечень информационных ресурсов--Лыхма
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/aatmGBBebrS7m
                          ">
                              Перечень информационных ресурсов--Полноват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/Z0RcKLgsbrSA4
                          ">
                              Перечень информационных ресурсов--Сорум
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/of6VeXrnbrSBW
                          ">
                              Перечень информационных ресурсов--Сосновка
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/8q6GWtG7brSCT
                          ">
                              Перечень информационных ресурсов--ЦБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/XyjO-8-0brSDc
                          ">
                              Перечень информационных ресурсов--ЮБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                         https://yadi.sk/i/XMj_FXURbrSHE
                          ">
                              положение о ЦОД Ванзеват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/d/AmZrH5fUbrSJ9
                          ">
                                положение о ЦОД Верхнеказымский
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/ASnGcqBobrSKi
                          ">
                                положение о ЦОД ДБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/2dPeTtbCbrSME
                          ">
                                положение о ЦОД Казым
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/h9HpTwYtbrSNF
                          ">
                                положение о ЦОД Лыхма
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/VlPXUSgrbrSPy
                          ">
                                положение о ЦОД Полноват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/yD_Sy0XubrSRC
                          ">
                                положение о ЦОД Сорум
                          </a>
                      </p>

                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/GlV1GXgJbrSSX
                          ">
                                положение о ЦОД Сосновка
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/xk0iQHmjbrSTQ
                          ">
                                положение о ЦОД ЦРБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/oZSQ3e0obrSUV
                          ">
                                положение о ЦОД ЮБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/6sXbq5eebrSXx
                          ">
                              Правила пользования Ванзеват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/AVZ6KtZdbrTA3
                          ">
                                Правила пользования Верхнеказымский
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/-8Ir-NXxbrTDf
                          ">
                                Правила пользования ДБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/Chd3cPrBbrTF5
                          ">
                                Правила пользования Казым
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/tNTDWEbxbrTGt
                          ">
                                Правила пользования Лыхма
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/b49BHYpsbrTJ2
                          ">
                                Правила пользования Полноват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/I6RjdgVXbrTKB
                          ">
                                Правила пользования Сорум
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/Bsi3YF-7brTLU
                          ">
                                Правила пользования Сосновка
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/zDuiLZz6brTPp
                          ">
                                Правила пользования ЦРБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/mhpbpv18brTR5
                          ">
                                Правила пользования ЮБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/1GZTC65VbrTXb
                          ">
                                Регламент ЦОД Ванзеват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/sbqcbtNFbrTbu
                          ">
                                Регламент ЦОД Верхнеказымский
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/ixrlEzR8brTd3
                          ">
                                Регламент ЦОД ДБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/cJ48kwU-brTdy
                          ">
                                Регламент ЦОД Казым
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/ezPpeZQRbrTke
                          ">
                                Регламент ЦОД Лыхма
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/89gAVb7zbrTpb
                          ">
                                Регламент ЦОД Полноват
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/My1CBgZcbrTs7
                          ">
                                Регламент ЦОД Сорум
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/c-l-fzj6brTuM
                          ">
                                Регламент ЦОД Сосновка
                          </a>
                      </p>
                      <p><p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/kGJewD3AbrTvc
                          ">
                                Регламент ЦОД ЦРБ
                          </a>
                      </p>
                      <p><i class="icon-layers"></i>
                          <a href="
                          https://yadi.sk/i/y32DSiVKbrU3W
                          ">
                                Регламент ЦОД ЮБ
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Accordion End -->




              </div>


  </div>
</div>

{% endblock %}