{% extends "base.html"  %}
{% block content %}

<div class="content">
  <div class="container">


  <!-- Sitemap starts -->
            
            <div class="service">
               <div class="row">
                  <div class="span12">
                  
                     
                     <!-- Sitemap -->
                     
                     <div class="row">
                        <div class="span12">
                           <!-- List of Posts -->
                              <h5>Ссылки на внешние ресурсы</h5>
                              <hr />
                              <ul>
                                 <li><a href="http://www.gosuslugi.ru">Единый портал государственных и муниципальных услуг</a></li>
                                 <li><a href="http://www.okrlib.ru">Государственная библиотека Югры</a></li>
                                 <li><a href="http://www.admbel.ru">Официальный сайт органов местного самоуправления Белоярского района</a></li>
                              </ul>
                        </div>
                                         
                     </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->

  </div>
</div>

{% endblock %}