{% extends "base.html"  %}
{% block content %}
<!-- Navigation bar ends -->

<div class="content">
  <div class="container">

  <h2>Новости</h2>
  <p class="big grey">Все самые интересные новости и события из жизни наших библиотек</p>
  <hr />

  <!-- Blog starts -->
            
            <div class="blog">
               <div class="row">
                  <div class="span12">
                     
                     <!-- Blog Posts -->
                     <div class="row">
                        <div class="span12">
                           <div class="posts">

                               {% for row in result_last10newses %}
                                    {% autoescape on %}
                                        {{ row.1|safe|escape }}
                                        <br>
                                    {% endautoescape %}

                               {% endfor %}

                              <!-- кнопка продолжить чтение -->
                              <div class="navigation button">
                                    <div class="pull-left"><a href="http://vk.com/bellib">Продолжить чтение новостей &raquo;</a></div>
                                    <div class="clearfix"></div>
                              </div>


                              <div class="clearfix"></div>
                              
                           </div>
                        </div>                        

                     </div>
                     
                     
                     
                  </div>
               </div>
            </div>
 



<!-- Product & links ends --> 

  </div>
</div>

<!-- Social -->
{% endblock %}